<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <ui class="nav_bar--horizontal">
      <li>
        <a href="/index.html">startsida</a>
      </li>
      <li>
        <a href="/view/Hemsidors_Utveckling.html">Hemsidors Utveckling</a>
      </li>
      <li>
        <a href="/view/Historiska_Händelser.html">Historiska Händelser</a>
      </li>
      <li>
        <a href="/view/Webbens_Grunder.html">Webbens Grunder</a>
      </li>
      <li>
        <a href="/view/Webbpublicerings_System.html">Webbpublicerings System</a>
      </li>
    </ui>
    <h1 class="TopSpacer">Hemsidors Utveckling</h1>
    <h3>Lego V 1</h3>
    <div>
      <img src="/Lego-v-1.png" />
    </div>
    <div>
      Det är en snygg simplistic sida där allting är lätt att förstå. Den är en
      produkt från sin tid , du kunde inte riktigt göra så mycket mer en så här
      men den funkar klockrent.
    </div>
    <h3>
      Lego V 2
    </h3>
    <div>
      <img src="/Lego-v-2.png" />
    </div>
    <div>
      Detta är en utveckling på första designen där de har behållit det gamla
      men försökt uppdatera det. Själv tycker jag om den här visuella designen
      mycket mindre eftersom den ser fulare ut. Det färgglada knapparna med
      tydliga symboler har nu blivit en grå bricka med text.
    </div>
    <h3>
      Lego V 3
    </h3>
    <div>
      <img src="/Lego-v-3.png" />
    </div>
    <div>
      Det här går inte riktigt att kolla på. Upplösningen har verkligen skadat
      sidan som nu är mindre av en hub och mer av ett enda stort add.
    </div>
    <h3>
      Varför den har utvecklats så här
    </h3>
    <div>
      Simpelt för att sälja mer. Mer adds mer pängar.
    </div>
    <h3>
      Hur jag önska att den hade utvecklats
    </h3>
    <div>
      Jag hade önskat att de behållit det som gjordet originalet så bra och
      byggt ut på de. Istället för v-2 re-designen då allting blev en stor blob
      så behåll det unika bilderna , behåll färgerna och håll det simpelt.
    </div>
    <h3>
      Vart sidan kan gå nu
    </h3>
    <div>
      Problemet de har nått är att det har tagit en design till sitt slut. För
      att komma längre och bättre måste det börja om från början med ett nytt
      mål.
    </div>
  </body>
  <script src="js/script.js"></script>
</html>
