<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <ui class="nav_bar--horizontal">
      <li>
        <a href="/index.html">startsida</a>
      </li>
      <li>
        <a href="/view/Hemsidors_Utveckling.html">Hemsidors Utveckling</a>
      </li>
      <li>
        <a href="/view/Historiska_Händelser.html">Historiska Händelser</a>
      </li>
      <li>
        <a href="/view/Webbens_Grunder.html">Webbens Grunder</a>
      </li>
      <li>
        <a href="/view/Webbpublicerings_System.html">Webbpublicerings System</a>
      </li>
    </ui>
    <h2>60 talet</h2>
    <div class="HelaSidan">
      <div>
        <img src="/arpanet2.png" alt="" />
      </div>
      <div>
        Vid den tiden heter nätverket Arpanet, och drivs av det amerikanska
        försvaret. I september 1969 länkas Arpanets första dator med en
        sprillans ny, specialbyggd maskin, en IMP – Interface Message Processor
        (som ni ser på bilden här ovanför). Och några veckor senare, 29 oktober
        klockan halv elva på kvällen skickar forskargruppen på UCLA, ledd av
        professor Leonard Kleinrock, iväg ett meddelande till en dator på
        Stanford drygt 50 mil därifrån. Det innehåller endast bokstäverna L och
        O (forskarna hade tänkt skriva LOGIN men servern kraschade).
      </div>
    </div>
    <div>
      Paketutbyte, TCP/IP och tidsdelning På den amerikanska
      forskningsmyndigheten ARPA (Advanced Research Projects Agency) jobbar
      datorforskaren Joseph Licklider. Han är den som kläcker idén till det som
      blir internet, men det finns många andra på myndigheten som gör betydande
      insatser för att förverkliga planerna. Leonard Kleinrock uppfinner
      kommunikationstekniken ”paketutbyte” (packet switching), Vinton Cerf and
      Robert Kahn kommer på TCP/IP-protokollet (som fortfarande utgör grunden
      för det internet vi har i dag). En annan viktig upptäckt är
      tidsdelningssystemen (time-sharing), som innebär att flera personer kan
      använda samma dator. Det är ju egentligen det man gör på internet, delar
      datorer med varandra. E-posten skapas 1971 skickas det första
      e-postmeddelandet på Arpanet – från en dator till en annan som står precis
      bredvid. Fler och fler datorer på amerikanska forskningsanstalter och
      laboratorium kopplas sedan upp, nätet växer och 1973 är det hela fyrtio
      datorer uppkopplade. Nätverket blir internationellt Samma år kopplas den
      första utländska datorn upp mot Arpanet utanför USA. Den är norsk och
      kopplas upp via satellit. Men om vi ska vara lite petiga går faktiskt den
      första internetkontakten via markstationen i Tanum i Bohuslän, som tar
      emot signalerna och skickar dem vidare till Norge. Först då blir internet
      internationellt.
    </div>
    <h2>70 talet</h2>
    <div class="HelaSidan">
      <div>
        <img src="/tcpiptecknad.png" alt="" />
      </div>
      <div>
        Så hur fungerar internet? Svaret är en teknik som kunde börja användas
        redan 1974. Men det har inte varit givet att just TCP/IP, som tekniken
        heter, skulle bygga internet. Mäktiga motståndare har tyckt annat.
      </div>
    </div>
    <div>
      Den 5 maj 1974 presenteras en ny teknik av amerikanerna Vint Cerf och
      Robert Kahn, som båda arbetar med Arpanet (föregångaren till det vi i dag
      kallar internet). Protokollen TCP och IP gör det möjligt att snabbt skicka
      paket med information mellan anslutna datorer och nätverk. Allting
      decentraliserat. Systemet bygger på att nätverken inte kontrollerar
      informationen som skickas och är avgörande för framgången med internet.
      Det fungerar lite som posten, de struntar i vad du skickar och hur, bara
      paketet kommer fram. Och inte nog med det: paketen delas upp och skickas i
      bitar, för att sedan sättas ihop när de via olika vägar nått fram till
      målet. Eftersom det fortfarande är TCP/IP som bygger kommunikationen via
      internet anser många att det är Vint Cerf och Robert Kahn som ligger bäst
      till för att kallas ”internets skapare”. Här kan du höra dem berätta med
      egna ord hur det gick till. Utmanaren X.25 lanseras Ett X.25-modem från
      Siemens. (foto från Wikipedia Men segern är inte given. 1976 lanseras ett
      annat system: X.25. Det är, till skillnad från TCP/IP, centraliserat. Det
      är också televerkens favorit, även det svenska. Länge tror man att det är
      med den tekniken informationsutbytet mellan datorer ska utvecklas. En
      anledning är att systemet ger televerken möjlighet att ta betalt för
      trafiken. En annan är att X.25-nätverk är väldigt säkra, eftersom varje
      länk i kedjan felkontrollerar innehållet innan det skickas vidare. På så
      sätt kan man garantera att informationen är identisk från start till mål.
      Lite som ett brev som läses och kontrolleras av alla som nås av det under
      färden. Kampen tar slut Processen har dock ett pris: det går lite väl
      trögt. Televerken får till sist ge sig, det mer snabba och flexibla TCP/IP
      tar tätpinnen redan 1 januari 1983 när amerikanska Arpanet väljer
      protokollet, och det är fortfarande den arkitekturen nätet bygger på. År
      1985 byter det svenska televerket namn på sin X.25-tjänst till Datapak,
      ett namn som fortfarande används. Tidigare har den kallats både Telepak
      och Databas 300. X.25-tekniken lever alltjämt, men då i sammanhang där
      vikten av säkerhet är särskilt stor, så som när man betalar med kreditkort
      eller tar ut pengar i bankomaten.
    </div>
    <h2>80 talet</h2>
    <div class="HelaSidan">
      <div>
        <img src="/MUD1_screenshot.gif" alt="" />
      </div>
      <div>
        1980 blir internet en arena för spelare. Rollspelet MUD (också kallat
        Essex MUD eller MUD1) når ut globalt i samband med att Essex Universitet
        kopplar ihop sitt nätverk med Arpanet.
      </div>
    </div>
    <div>
      Från och med nu drar en MUD-våg över internet, och allt fler spel
      lanseras. Multi-User Dungeon är textbaserade och ofta äventyrsspel som
      utspelar sig i fantasivärldar med påhittade djur och monster. Uppgiften är
      att ha ihjäl fantasidjuren, utforska och lösa uppgifter. Allt utan bild
      och ljud. Upplägget i berättelserna påminner inte sällan om det populära
      bordsrollspelet Dungeons & Dragons, och att delta är för det mesta gratis.
      Under senare delen av 80-talet utvecklas spelen och många får grafik.
      MUD-spelen är på så vis en föregångare till populära multiplayerspel som
      World of Warcraft, EverQuest och Ultima Online, liksom virtual
      reality-baserade Second Life. Ett svenskt MUD-spel, SvenskMUD, lanseras
      1991 genom datorföreningen Lysator vid Linköpings universitet.
      <a href="http://british-legends.com/CMS/">Spela MUD här!</a>
    </div>
    <h2>90 talet</h2>
    <div class="HelaSidan">
      <div>
        <iframe
          width="100%"
          height="564"
          src="https://www.youtube.com/embed/ov9YALQ_144"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div>
        Internet är så flyktigt. I samma stund en hemsida byter skepnad så
        försvinner den tidigare versionen. För alltid! Problemet uppmärksammas
        tidigt och redan 1996 börjar internet att arkiveras.
      </div>
    </div>
    <div>
      Internet archive slår upp portarna 12 maj 1996, startat av amerikanske
      it-entreprenören Brewster Kahle i San Fransisco (som samma år startar
      statistiksajten Alexa). Han får idén när han besöker Altavistas kontor och
      inser att allt deras innehåll ryms i sex servrar av läskautomatstorlek.
      Målet är att spara webbens alla sajter, och förutom detta erbjuds tjänsten
      Wayback Machine som är ett sökbart digitalt arkiv över webben. I januari
      2018 är antalet webbsidor i samlingarna 279 miljarder stycken. Internet
      archive samlar numera också in alltifrån böcker till bilder och filmer. I
      Sverige är Frans Lettenström en viktig person för webbarkivering. Han är
      1995 nyanställd på Kungliga biblioteket och kommer med ett förslag: – De
      första webbtidningarna var då redan förlorade. Det var så absurt att man
      inte tog vara på det. Jag föreslog att man skulle ladda ner den svenska
      webben och få in allt som gått förlorat. Och jag hade sån tur att jag fick
      med mig ledningen på KB. Papper och webb är ju samma innehåll, varför ska
      det ena bevaras och inte det andra? 1997 lanseras Kulturarw3 – som sedan
      dess sparar ner alla svenska webbsidor flera gånger om året. Tanken är att
      arkivet ska finnas tillgängligt på nätet, precis som Internet archive, men
      så blir det inte av personuppgiftsskäl. Se en intervju med Frans
      Lettenström nedan. 2014 startar Internetmuseum, av Internetstiftelsen i
      Sverige. Förutom att spara internethistoriska dokument bevarar museet även
      hemsidor så att de ligger kvar på internet. I samlingarna (som alltså är
      publika) ingår Swipnets personliga hemsidor, IT-kommissionens hemsida och
      Annica Tigers HTML-guide.
    </div>
    <h2>00 talet</h2>
    <div class="HelaSidan">
      <div>
        <img src="/kazaa.jpg" alt="" />
      </div>
      <div>
        Mp3-filerna skrämmer slag på musikindustrin under 00-talet. Och med ett
        svenskutvecklat program kan folk över hela världen byta filer med
        varandra.
      </div>
    </div>
    <div>
      Niklas Zennström och Janus Friis skapar år 2000 Kazaa, ett program baserat
      på P2P-teknik. De har köpt fildelningsprotokollet fasttrack av ett
      estniskt företag. Programmet hjälper användarna att hitta varandra, utan
      att tjänsten själv behöver beblanda sig med filerna. Redan året innan har
      ett annat program, Napster, skapat av Shawn Fanning, väckt mycket
      uppmärksamhet genom att för första gången erbjuda just fildelning av låtar
      och ljudfiler. Tjänsten tvingas att stänga 2001 efter ett domstolsbeslut i
      USA. Då tar Kazaa över tätpinnen och är 2003 internets mest nedladdade
      program (och kommer att komma upp i över en miljard nedladdningar). Värt
      att poängtera i sammanhanget är att Kazaa-grundarna samma år startar
      telefontjänsten Skype, som ju blir en framgångssaga. 2006 döms Kazaa att
      betala 100 miljoner dollar i böter, efter att efter en rättegångsprocess
      ha gjort upp med bland andra Universal Music och Warner Music. Men då har
      programmet för länge sedan bytt ägare. Niklas Zennström anser själv att
      han med Kazaa bidragit till en bredbandsutbyggnad världen över, men medger
      också att han och Janus Friis har dålig tajming med programmet, trots
      succén i antalet nedladdningar. Rent juridiskt är Kazaa aldrig någon stor
      framgång, och det kommer istället att bli strömmade tjänster som Spotify
      och Netflix som levererar framtidens musik och film.
    </div>
    <h2>10 talet</h2>
    <div class="HelaSidan">
      <div>
        <img src="/facebook-emoji-set-emojipedia.png" alt="" />
      </div>
      <div>
        Äntligen blir emojier lite mer inkluderande. När Unicode släpper Emoji
        v.12 i början av februari 2019 så har familjen av uttrycksfulla symboler
        utökats med 230 emojier. Majoriteten är versioner av tidigare emojier,
        men även helt nya har fått en plats i vad som ofta kallas för vårt
        första universella språk.
      </div>
    </div>
    <div>
      Unicode har länge fått kritik för att inte ha inkluderande emojier, länge
      saknades t.ex. olika hudtoner och symboler för samkönade par. Därför är
      det inte så konstigt när detta släpp framförallt innehåller emojier som
      rör just representation. Från och med nu går det exempelvis att skapa
      hålla hand-emojier där paret är av olika etnicitet och/eller kön.
      Funktionshinder och menstruation Alla kan föreslå nya emojier till Unicode
      och för ett par år sedan höll den ideella organisationen Plan
      International en omröstning för att ge förslag på en emoji som skulle
      representera menstruation. Unicode röstade ned det vinnande förslaget,
      istället kommer kompromissen i år i form av en emoji föreställandes en
      droppe blod. På samma sätt föreslog Apple ifjol ett antal emojier som
      skulle kunna användas för att representera olika former av
      funktionshinder. Dessa införlivas nu officiellt och föreställer bl.a. en
      ledhund, teckenspråk och en person i rullstol. Förutom att emojier blivit
      mer inkluderande så har vi också fått lite andra nya symboler att skicka
      varandra, som sengångare, falafel, våffla, skunk och en sari. Över 3000
      emojier I och med uppdateringen så finns det idag (februari 2019) 3,019
      emojier i standarden. Men det betyder inte vi får tillgång till dem
      direkt. Det är upp till företag som Apple, Google och Facebook att lägga
      till dem själva i sina tjänster, vilket oftast sker på hösten.
    </div>
  </body>
  <script src="js/script.js"></script>
</html>
