<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <ui class="nav_bar--horizontal">
      <li>
        <a href="/index.html">startsida</a>
      </li>
      <li>
        <a href="/view/Hemsidors_Utveckling.html">Hemsidors Utveckling</a>
      </li>
      <li>
        <a href="/view/Historiska_Händelser.html">Historiska Händelser</a>
      </li>
      <li>
        <a href="/view/Webbens_Grunder.html">Webbens Grunder</a>
      </li>
      <li>
        <a href="/view/Webbpublicerings_System.html">Webbpublicerings System</a>
      </li>
    </ui>
    <h1 class="TopSpacer">Webbpublicerings System</h1>
    <h2>Blosxom(2008)</h2>
    <div class="HelaSidan">
      <div>
        <img src="/Logo-of-Blosxom-new-version.png" alt="" />
      </div>
      <div class="wikicopia">
        <div>
          Developer(s)
        </div>
        <div>
          <a href="https://en.wikipedia.org/wiki/Rael_Dornfest" target="_blank"
            >Rael Dornfest</a
          >
        </div>
        <div>
          Stable release
        </div>
        <div>
          2.1.2 (2008-10-02)
        </div>
        <div>
          Repository
        </div>
        <div>
          git.code.sf.net/p/blosxom/blosxom
        </div>
        <div>
          Operating system
        </div>
        <div>
          Cross-platform
        </div>
        <div>
          Platform
        </div>
        <div>
          Perl
        </div>
        <div>
          Type
        </div>
        <div>
          Blog publishing system
        </div>
        <div>
          License
        </div>
        <div>
          MIT License
        </div>
        <div>
          Website
        </div>
        <div>
          <a href="http://blosxom.sourceforge.net/" target="_blank"
            >http://blosxom.sf.net/</a
          >
        </div>
      </div>
    </div>
    <div>
      Blosxom is a free-software weblog program (and simple content management
      system) written in Perl by Rael Dornfest. It uses the pre-existing file
      system instead of a database management system, unlike most blog software.
      The design of Blosxom is minimalist. It is distributed as a single Perl
      script, and all configuration is done by editing this script. All of the
      weblog entries are stored as plain text files consisting of a headline,
      optional headers or meta-information (if using certain plugins), and a
      blank line followed by the post body. New display styles can be added by
      creating template files called flavours. Blosxom can operate as a CGI
      script or produce static HTML files. By default, Blosxom supports showing
      recent posts, doing content categorization, content retrieval by date (and
      permalinking based on that), and RSS feeds. It can be extended with dozens
      of available plugins. Blosxom has inspired derivatives in various
      languages, including PyBlosxom (in Python), Blojsom (in Java), Clojsom (in
      Clojure), Blosxonomy (in Ruby), Blosxom.PHP (in PHP), and Hobix (in Ruby).
      Blosxom and its derivatives tend to be used by people who prefer to write
      weblog postings with their favourite text editor instead of using a
      web-based interface. However, there are plugins for web-based posting to a
      Blosxom weblog, too. There are also plugins, which allow to include extern
      feedback systems like Disqus,[1] IntenseDebate and similar services. In
      February 2013 "BlosHome 1.0.6 alpha" was released, which allows users to
      write, edit and update Blosxom-based blogs straight from the desktop
      (Windows only).[2]
    </div>
    <h2>Umbraco(2019)</h2>
    <div class="HelaSidan">
      <div>
        <img src="/ladda ned.png" alt="" />
      </div>
      <div class="wikicopia">
        <div>
          Original author(s)
        </div>
        <div>
          Niels Hartvig and Umbraco Core Team
        </div>
        <div>
          Initial release
        </div>
        <div>
          2000
        </div>
        <div>
          Stable release
        </div>
        <div>
          8.0.2 / 2019-04-30
        </div>
        <div>
          Repository
        </div>
        <div>
          <a href="https://github.com/umbraco/Umbraco-CMS"
            >github.com/umbraco/Umbraco-CMS</a
          >
        </div>
        <div>
          Operating system
        </div>
        <div>
          ASP.NET, Microsoft Windows, SQL Server, SQL CE, SQL Azure, MySQL
        </div>
        <div>
          Written in
        </div>
        <div>
          C#
        </div>
        <div>
          Type
        </div>
        <div>
          Content management framework, Web framework, CMS, WCMS, Community and
          Blog software
        </div>
        <div>
          License
        </div>
        <div>
          MIT License
        </div>
        <div>
          Website
        </div>
        <div>
          <a href="https://umbraco.com/" target="_blank"> umbraco.com/</a>
        </div>
      </div>
    </div>
    <div>
      Umbraco is an open-source content management system (CMS) platform for
      publishing content on the World Wide Web and intranets. It is written in
      C# and deployed on Microsoft based infrastructure. Since version 4.5, the
      whole system has been available under an MIT License. Umbraco was
      developed by Niels Hartvig in 2000 and released as open source software in
      2004.[2] In 2009, CMS Wire described it as one of the leading .NET-based
      open source CMS systems.[3][4] In 2010, with 1000 downloads a day,[5]
      Umbraco was in the top five most popular downloads via the Microsoft Web
      Platform Installer, two places below its main rival DotNetNuke,[6] and was
      the 12th most downloaded application from Codeplex, six places below
      DotNetNuke and 13 places higher than mojoPortal.[7] Technology Umbraco is
      primarily written in C#, stores data in a relational database (commonly
      Microsoft SQL Server) and works on Microsoft IIS. Umbraco's front-end is
      built upon Microsoft's .NET Framework, using ASP.NET. Umbraco uses
      standard ASP.NET features such as ASP.NET "master pages" to facilitate the
      creation of reusable page layouts, and supports both Razor and XSLT. XSLT
      has been used for scripting, and in the past there was much debate as to
      which yielded better performance, since XML has been used for database
      storage and for the cache file (umbraco.config)[8][9] Database tier In
      2008, a data abstraction layer for Umbraco was built, making it possible
      to support databases other than SQL Server. In version 4.0 of Umbraco,
      support for MySQL, SQL Server and VistaDB come as standard.[10] With
      Umbraco 4.6, released in 2010, VistaDB support was removed, and replaced
      with support for SQL Server Express and SQL Server Compact Edition, due to
      licensing issues with VistaDB's parent company.[11] As of Umbraco 6,
      support for MySQL has waned, as the development team has spent more time
      supporting Microsoft's SQL Server products.[12] MySQL 5.6.5 or newer is
      required to support Umbraco 6.1 or newer. Umbraco 7 featured a completely
      revamped back-end administration UI, with the use of AngularJS for a
      single-page application experience. It has also been announced that they
      will implement Angular 2.0.[13] Deployment The standard release of Umbraco
      is typically deployed on IIS in an environment which supports Full Trust.
      While a Full Trust environment is mandatory to install and operate the
      standard release, the codebase has been branched and modified to produce a
      version of the framework and backend UI which supports Medium
      Trust.[14][self-published source?] Research has also been undertaken on
      running an Umbraco website on Mono on Linux.[15][16] Umbraco can be
      deployed on a single physical server running the database and web tier,
      and this deployment model can be appropriate for small low-cost sites.
      Umbraco sites which serve content under higher load can also be deployed
      on a load balanced cluster. Load balanced Umbraco installations can use
      software or hardware load balancers, and load balanced network files can
      be shared using a SAN, NAS or a cluster file system or using a file
      replication service between nodes in the cluster.[17][self-published
      source?] Umbraco eCommerce Packages Ucommerce[18] is a webshop package for
      the Open Source CMS Umbraco, merging a popular and free Content Management
      System for .NET with a powerful e-Commerce framework. Merchello[19] is
      eCommerce plugin for Umbraco, any size store, highly customizable,
      multi-lingual, works just like Umbraco. Releases Version 4.1 Beta II was
      released on 16 February 2010 which refactors a number of key components of
      the framework,[5] including the UI tree control to improve performance and
      the user experience and parts of the data access layer to reduce the
      number of database calls. Version 5 (codenamed "Jupiter") is a rewrite of
      the framework, built using ASP.NET MVC,[20] published in January 2012.
      Problems (performance and code complexity) inherent in the architecture of
      the new Version 5 data access layer[21] led to Version 5 being dropped in
      June 2012 despite having been released on a commercial licence,[22] and
      development efforts refocused on integrating selected Version 5 front end
      enhancements into Version 4. Version 6 was released on 31 January 2013,
      and was focused on additional support for MVC 4 and a new streamlined
      API.[23] Version 7 was released 21 November 2013. It is updated
      concurrently with version 6, but provides a redesign of the back-office
      user interface.[24] Umbraco 8 was released in February of
      2019.[25][26][27] Community The Umbraco corporation employs over 40
      staff[28] and is supported by a core team of over 15[5] developers who
      work on the open source core platform. Umbraco's community site, "Our
      Umbraco", has more than 200,000 registered users[29] and
      developers.[citation needed] Since 2005, an annual developer conference
      Codegarden has taken place in or in the region of Copenhagen, except in
      2007, when it was held in London. In 2009, the conference had 170
      attendees[citation needed] and subsequently took place in Copenhagen in
      June 2010[30] and June 2011, then growing to 350 attendees for June 2012
      and 2013.[citation needed] Reception In August 2009, Umbraco was included
      in a list of 10 CMS systems recommended by the Danish Version2 magazine.
      Among these were three systems initially developed in Denmark: Sitecore,
      TYPO3, and Umbraco.[31]
    </div>
  </body>
  <script src="js/script.js"></script>
</html>
